.layout-total{
  height: 100%;
}
.logo{
  height: 64px;
  width: 64px;
  font-size: 40px;
  line-height: 64px;
  margin-left: 13px;
  margin-top: 12px;
  color: rgb(133, 250, 250);
}
// .ant-layout-header{
//   background-color: #8799a3;
// }
// .ant-layout-sider{
//   background-color: #29292a;
// }

